<div class="panel">
    <div class="row">
        <div class="three columns">
            <h2>Pomodoro</h2>
        </div>
        <div class="nine columns">
            <ul class="nav-bar right">

                <li><a href="/Configuracao">Configuração</a></li>
                <li><a href="/">Pomodoro</a></li>
            </ul>
        </div>
    </div>
</div>

